################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeetingRoomApi/v16

/MeetingRoomApi/bin
/MeetingRoomApi/obj
